html{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: normal;
}

.container {
  margin: auto 20rem;
}

.navbar-logo {
  float: left;
}

.page-options li, .solution-links li, .products_services-links li, .company-links li{
   list-style: none;
}

.slider {
  display: block;
  color: white;
}
.search-Box {
  display: block;
  float: right;
  width: 5rem;
}

#image_1 {
  background-image: url("./../img/slider/custom-experience.jpg");
  width: 30rem;
}

#image_2 {
  background-image: url("./../img/slider/digital-services.png");
}

#image_3 {
  background-image: url("./../img/slider/evolve-to-ip4g.jpg");
}

#image_4 {
  background-image: url("./../img/slider/smartly-monetize.jpg");
}

.slider h1{
  font-size: 2rem;
}

.slider-box {
  display: inline-block;
  border-radius: 6px;
  width: 16.2rem;
  height: 7.8rem;
  margin: 4rem 3rem 2rem 0;
  padding: 1rem;
  color: white;
}

.button-slider {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: gray;
}

.sPink {
  background-color: hsla(330,97%,63%,0.8);
}

.sPink:hover {
  background-color: rgb(250, 66, 158);
}

.sGreen {
  background-color: hsla(100,53%,50%,0.8);
}

.sGreen:hover {
  background-color: rgb(104, 192, 56);
}

.sOrange {
  background-color: hsla(24,100%,55%,0.8);
}

.sOrange:hover {
  background-color: rgb(225, 116, 20);
}

.inline-display li {
  display: inline-block;
  position: center;
}

.navbar-logo {
  float: left;
}

.navbar-headers a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.navbar-headers img {
  margin: 0 1rem;
}
.solutions li a{
  text-decoration: none;
  color: white;
}

.solutions {
  background: url("./../img/backgrounds/solutions-bg.png");
  background-color: hsla(199,56%,49%,1);
  height: 26.5rem;
}

.solutions ul li {
  width: 10rem;
  margin: 2rem 0.5rem;
  text-align: center;
  align-items: center;
}

.medium-title {
  color: white;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0px;
}

.small-title {
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
  /*text-align: left;*/
}

.success-stories {
  background-color: rgb(236,236,236);
  height: 35.75rem;
}

.success-stories h2 {
  color: black !important;
}


.events {
  background-image: url("./../img/backgrounds/news-and-events-bg.jpg");

  height: 28.375rem;
}

#bsa:hover {
  content: url("./../img/solutions/solution_icon_biz-analitics_hover.png");
}

#dce:hover {
  content: url("./../img/solutions/solution_icon_diti-cx_hover.png");
}

#sm:hover {
  content: url("./../img/solutions/solution_icon_smart-money_hover.png");
}

#oae:hover {
  content: url("./../img/solutions/solution_icon_optimize-efficnt_hover.png");
}

#pcc:hover {
  content: url("./../img/solutions/solution_icon_personal_hover.png");
}

#bt:hover {
  content: url("./../img/solutions/solution_icon_biz-transform_hover.png");
}



.event-list {
  display: block;
  width: 20rem;
  height: 7rem;
}

.success-stories{
  display: block;
}

.solution-links, .products_services-links, .company-links {
  display: block;
  width: 18rem;
  float: left;
}

footer {
  display: block;
  background-color: hsla(0,0,15%,1)
}
