html{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    width: 960px;
    margin: 0 auto; /* In order to put the container in the middle of the page - horizontal only*/
    position: relative;
}

.navbar {
  display: block;
  height: 100px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.navbar-headers li {
  display: inline-block;
}

.pos-center {
    /*display: inline-block;*/
    float: left;
    margin: 65px 0 0 185px;
}

.pos-right {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.pos-left{
  position: absolute;
  left: 0;
  bottom: 10px;
}

.page-options {
    padding-bottom: 25px;
    font-family: Arial, sans-serif;
}

.page-options a{
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
    margin-left: 5px;
}

.page-options a:hover{
    text-decoration: underline;
    /*color: #0000EE;*/
}

#lang_select {
    border: none;
    width: 41px;
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
    display: inline-block;
}
.navbar-headers {
    width: 625px;
}

.navbar-headers a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 0.9rem;
}

.navbar-headers img {
  margin: 0 1rem;
}

.navbar-headers li, .solution-links li, .slider > li .products_services-links li, .company-links li{
   list-style: none;
}


input[type=serach] {
  border: none;
}

.search-box {
  width: 150px;
  height: 22px;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  text-align: left;
}

.search-field {
  float: left;
  width: 123px;
  height: 20px;
  margin: 0 0 0 2px;
  padding: 0;
  border: none;
  font-size: 0.8rem;
}

input {
  margin: 5px;
}
.submit {
  background: url("./../img/icons/searchBtn.png");
  background-repeat: no-repeat;
  float: right;
  /*width: 18px;*/
  /*height: px;*/
  border: none;
}
/************************************************************************/
/*********************************** Slider *****************************/


.slider {
    display: block;
    color: white;
    width: 100%;
    /*background-image: url("./../img/slider/custom-experience.jpg");*/
}

.custom-experience {
  background-image: url("./../img/slider/custom-experience.jpg");
  /*background-size: cover;*/
  /*background-position: center;*/
  background-attachment: fixed; /* This will not work together with background-size: cover */
  /*width: 30rem;*/
}

.digital-services {
  background-image: url("./../img/slider/digital-services.png");
  background-size: cover;
}

.evolve-to-ip4g {
  background-image: url("./../img/slider/evolve-to-ip4g.jpg");
  background-size: cover;
}

.smartly-monetize {
  background-image: url("./../img/slider/smartly-monetize.jpg");
  background-size: cover;
}

.slider h1{
  font-size: 2rem;
}
.slider li:not(.custom-experience){
    display: none;
}
.image-buttons:target ^ .slider > li{
    display: block;
}

.btn-primary {
    background-color: RGB(25,140,197);
    color: white;
    font-size: 0.9rem;
    height: 40px;
    width: auto;
    border: none;
    border-radius: 5px;
}

.slider-box {
  display: inline-block;
  border-radius: 6px;
  width: 290px;
  height: 176px;
  /*margin: 4rem 3rem 2rem 0;*/
  padding: 1rem;
  color: white;
}

.button-slider {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: gray;
}

.boxes {
    margin: 0 auto;

}
.boxes section{
  vertical-align: top;
}

.anchor-box-style {
    display:block;
    vertical-align: bottom;
    width: 115px;
}
.sPink {
  background-color: hsla(330,97%,63%,0.8);
    margin: 10px 15px 10px 0;
}

.sPink:hover {
  background-color: rgb(250, 66, 158);
}
.sPink a:before{
    content: url(./../img/icons/link-icon-image.png);
}
.sGreen {
  background-color: hsla(100,53%,50%,0.8);
    margin: 10px 15px;
}

.sGreen:hover {
  background-color: rgb(104, 192, 56);
}

.sOrange {
  background-color: hsla(24,100%,55%,0.8);
    margin: 10px 0 10px 15px;
}

.sOrange:hover {
  background-color: rgb(225, 116, 20);
}

/************************************************************************/
/******************************* Solutions  *****************************/

.medium-title {
  color: white;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0;
  padding-top: 62px;
}

.small-title {
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
  /*text-align: left;*/
}


.inline-display li {
    display: inline-block;
}

.solutions li a{
  text-decoration: none;
  color: white;
}

.solutions {
  background-color: hsla(199,56%,49%,1);
  background-image: url("./../img/backgrounds/solutions-bg.png");
  height: 424px;
}

.solutions ul li {
  list-style: none;
}

.solutions ul {
  padding: 0 0;
}

.anchor-box {
  float: left;
  text-align: center;
  width: 155px;
}

.anchor-box p{
  padding-top: 60px;
}

.bsa {
  background: url("./../img/solutions/solution_icon_biz-analitics.png") no-repeat top center;
}

.bsa:hover {
  background: url("./../img/solutions/solution_icon_biz-analitics_hover.png") no-repeat top center;
}

.dce {
  background: url("./../img/solutions/solution_icon_diti-cx.png") no-repeat top center;
}

.dce:hover {
  background: url("./../img/solutions/solution_icon_diti-cx_hover.png") no-repeat top center;
}

.sm {
  background: url("./../img/solutions/solution_icon_smart-money.png") no-repeat top center;
}

.sm:hover {
  background: url("./../img/solutions/solution_icon_smart-money_hover.png") no-repeat top center;
}

.oae {
  background: url("./../img/solutions/solution_icon_optimize-efficnt.png") no-repeat top center;
}

.oae:hover{
  background: url("./../img/solutions/solution_icon_optimize-efficnt_hover.png") no-repeat top center;
}

.pcc {
  background: url("./../img/solutions/solution_icon_personal.png") no-repeat top center
}

.pcc:hover {
  background: url("./../img/solutions/solution_icon_personal_hover.png") no-repeat top center;
}

.bt {
  background: url("./../img/solutions/solution_icon_biz-transform.png") no-repeat top center;
}

.bt:hover {
  background: url("./../img/solutions/solution_icon_biz-transform_hover.png") no-repeat top center;
}


/**************************** Events ******************************/

.events {
    background-image: url("./../img/backgrounds/news-and-events-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 28.375rem;
}
.event-list {
  display: block;
  width: 20rem;
  height: 7rem;
}

.success-stories {
    display: block;
    background-color: rgb(236,236,236);
    height: 35.75rem;
}

.success-stories h2.medium-title {
    color: black;
}

.solution-links, .products_services-links, .company-links {
  display: block;
  width: 18rem;
  float: left;
}

footer {
  display: block;
  background-color: hsla(0, 0%,15%,1)
}
