html {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box;
  min-width: 960px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clear-fix:before,
.clear-fix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clear-fix:after {
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto; /* In order to put the container in the middle of the page - horizontal only*/
  position: relative;
  padding: 0;
}

/******************************** Navbar and Mega Menu ****************************/

.pos-center {
  position: absolute;
  bottom: 4px;
  left: 234px;
}

.pos-right {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.pos-left {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.page-options {
  padding-bottom: 25px;
  font-family: Arial, sans-serif;
}

.page-options a {
  text-decoration: none;
  color: inherit;
  font-size: 0.85rem;
  margin-left: 5px;
}

.page-options a:hover {
  text-decoration: underline;
  /*color: #0000EE;*/
}

#lang_select {
  border: none;
  width: 41px;
  font-size: 0.85rem;
  font-family: Arial, sans-serif;
  display: inline-block;
}

.navbar {
  display: block;
  height: 85px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.navbar > ul {
  /*float: left;*/
  margin: 0;
  padding: 0;
  height: 27px;
}

.navbar-headers > li {
  float: left;
  position: relative;
  background: #ffffff;
}

.navbar-headers {
  /*width: 625px;*/
  width: 520px;
}

/*.navbar-headers li{
  position: relative;
}*/

.navbar-headers > li > a {
  color: #000000;
  background: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px 12px 7px;
  font-size: 14px;
}

.navbar-headers > li > a:hover,
.navbar-headers > li > a:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: -10px 6px 10px -6px rgba(0,0,0,0.5);
  border: 1px solid #b4b4b4;
  border-bottom: 0;
  color: rgb(2, 0, 217);
  font-weight: 600;
  padding: 5px 12px 10px;
  z-index: 200;
}

/*.navbar-headers > li:hover > a{
  z-index: 200;
}*/

/*.navbar-headers > li > a:visited {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}*/

.navbar-headers > li > ul {
  border: 1px solid #b4b4b4;
  border-top: none;
  box-shadow: -10px 6px 10px -6px rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  width: 960px;
  list-style: none;
  padding: 0;
  background: #ffffff;
  margin-top: 4px;
  z-index: 200;
}

.navbar-headers > li:nth-of-type(1) > ul{
  top: 29px;
  left: -231px;
}

.navbar-headers > li:nth-of-type(2) > ul{
  top: 29px;
  left: -340px;
}

.navbar-headers > li:nth-of-type(3) > ul{
  top: 29px;
  left: -473px;
}

.navbar-headers > li:nth-of-type(4) > ul{
  top: 29px;
  left: -597px;
}

.sub-menu ul a {
  list-style: none;
  text-decoration: none;
  color: black;
  text-align: left;
  font-weight: 500;
  line-height: 1.5rem;
}

.sub-menu ul a:hover,
.sub-menu ul a:focus{
  text-decoration: underline;
}

.sub-menu .anchor-text a{
  text-decoration: underline;
  color: rgb(2, 0, 217);
}

.navbar-headers > li:hover > ul {
  display: block;
}

.navbar-headers li, .solution-links li, .slider > li .products_services-links li, .company-links li {
  list-style: none;
}

.sub-menu ul{
  float: left;
  display: inline-block;
  margin: 1rem 0;
  padding-right: 2rem;
  padding-left: 1rem;
}

.sub-menu ul:last-child {
  float: right;
  padding-right: 30px;
}

.sub-menu ul:last-child li::before{
  content: url("./../img/icons/line_divider_video.png");
  float: left;
  padding-right: 30px;
}


input[type=serach] {
  border: none;
}

.search-box {
  width: 150px;
  height: 22px;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  text-align: left;
}

.search-field {
  float: left;
  width: 123px;
  height: 20px;
  margin: 0 0 0 2px;
  padding: 0;
  border: none;
  font-size: 0.8rem;
}

input {
  margin: 5px;
}

.submit {
  background: url("./../img/icons/searchBtn.png") no-repeat;
  /*background-repeat: no-repeat;*/
  float: right;
  border: none;
}

/************************************************************************/
/*********************************** Slider *****************************/

.slider {
  display: block;
  color: white;
  width: 100%;
  margin: 0;
  padding-left: 0;
  overflow: auto;
  position: relative;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.20);
}

/*main article{
  height: 560px;
}*/

.slider > li {
  /*background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/
/*  background-size: 200%;
  background-position: 50% 0;
  background-attachment: fixed;*/
  height: 560px;
}

.custom-experience {
  background: url("./../img/slider/custom-experience.jpg") 50% 0 fixed no-repeat;
  background-size: cover;
  overflow: auto;
}

.digital-services {
  background: url("./../img/slider/digital-services.png") 50% 0 fixed no-repeat;
  background-size: cover;
}

.evolve-to-ip4g {
  background: url("./../img/slider/evolve-to-ip4g.jpg") fixed no-repeat;
}

.smartly-monetize {
  background: url("./../img/slider/smartly-monetize.jpg") fixed no-repeat;
}

.custom-experience ul, .evolve-to-ip4g ul, .smartly-monetize ul {
  padding: 0 0 20px 20px;
}

.slider h1 {
  font-size: 2rem;
  margin: 0;
}

.image-buttons {
  position: absolute;
  bottom: 320px;
  left: 0;
  width: 55px;
}

.image-buttons:target ~ .slider > li {
  display: block;
}

.btn-primary {
  background-color: RGB(25, 140, 197);
  color: white;
  font-size: 0.9rem;
  height: 38px;
  padding: 0 25px 0 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 12px 0 rgba(0, 0, 0, 0.10)
}

.slider-button button {
  height: 35px;
  width: 178px;
  text-align: left;
  padding-left: 12px;
}

.slider-button button:after {
  left: 64px;
}

.btn-primary:after {
  content: url("./../img/icons/btnArrow.png");
  position: relative;
  top: 2px;
  right: -10px;
}

.btn-primary:hover {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.20);
  cursor: pointer;
  transform: translateY(1px);
}

.btn-primary:active {
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.20);
  transform: translateY(3px);
}

.slider-box {
  display: inline-block;
  /*float: left;*/
  border-radius: 6px;
  width: 290px;
  height: 176px;
  padding: 0.7rem;
  color: white;
  z-index: 10;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}

.button-slider {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background-color: #ffffff;
}

/*.slider + article{
  position: relative;
}*/

.boxes {
  position: absolute;
  bottom: 50px;
  left: 27px;
  padding-bottom: 10px;
}

.boxes a {
  font-weight: 600;
  margin-left: 0;
  bottom: 25px;
  text-decoration: none;
  vertical-align: top;
}

.anchor-box-style {
  display: block;
  width: 115px;
  position: relative;
  bottom: 20px;
  left: 5px;
  color: white;
}

.medium-title {
  color: white;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  /*padding-top: 60px;*/
  padding: 60px 0 40px 0;
}

.small-title {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  height: 100%;
  margin: 0;
}

.boxes .small-box {
  line-height: 1.5rem;
}

.sPink {
  background-color: hsla(330, 97%, 63%, 0.8);
  margin: 10px 15px 10px 0;
}

.sPink:hover {
  background-color: rgb(250, 66, 158);
}

.sGreen {
  background-color: hsla(100, 53%, 50%, 0.8);
  margin: 10px 15px;
}

.sGreen:hover {
  background-color: rgb(104, 192, 56);
}

.sOrange {
  background-color: hsla(24, 100%, 55%, 0.8);
  margin: 10px 0 10px 15px;
}

.sOrange:hover {
  background-color: rgb(225, 116, 20);
}

/************************************************************************/
/******************************* Solutions  *****************************/

.solutions li a {
  text-decoration: none;
  color: white;
}

.solution-container {
  text-align: center;
}

.solutions {
  /*background-color: hsla(199, 56%, 49%, 1);*/
  background: hsla(199, 56%, 49%, 1) url("./../img/backgrounds/solutions-bg.png");
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.20);
  padding: 20px 0;
}

.solutions ul li {
  list-style: none;
}

.solutions ul {
  padding: 0 0;
  display: inline-block;
}

.center {
  display: block;
  margin: 20px auto;
}

.anchor-box {
  float: left;
  text-align: center;
  width: 155px;
}

.anchor-box p {
  padding-top: 60px;
}

.bsa {
  background: url("./../img/solutions/solution_icon_biz-analitics.png") no-repeat top center;
}

.bsa:hover {
  background: url("./../img/solutions/solution_icon_biz-analitics_hover.png") no-repeat top center;
}

.dce {
  background: url("./../img/solutions/solution_icon_diti-cx.png") no-repeat top center;
}

.dce:hover {
  background: url("./../img/solutions/solution_icon_diti-cx_hover.png") no-repeat top center;
}

.sm {
  background: url("./../img/solutions/solution_icon_smart-money.png") no-repeat top center;
}

.sm:hover {
  background: url("./../img/solutions/solution_icon_smart-money_hover.png") no-repeat top center;
}

.oae {
  background: url("./../img/solutions/solution_icon_optimize-efficnt.png") no-repeat top center;
}

.oae:hover {
  background: url("./../img/solutions/solution_icon_optimize-efficnt_hover.png") no-repeat top center;
}

.pcc {
  background: url("./../img/solutions/solution_icon_personal.png") no-repeat top center
}

.pcc:hover {
  background: url("./../img/solutions/solution_icon_personal_hover.png") no-repeat top center;
}

.bt {
  background: url("./../img/solutions/solution_icon_biz-transform.png") no-repeat top center;
}

.bt:hover {
  background: url("./../img/solutions/solution_icon_biz-transform_hover.png") no-repeat top center;
}

.solution-links, .products_services-links, .company-links {
  display: block;
  width: 18rem;
  float: left;
}

/********************************************** Events **********************************************/

.events {
  /*background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/
  background: url("./../img/backgrounds/news-and-events-bg.jpg") 50%/cover fixed no-repeat;
  /*background-size: cover;*/
  height: 454px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.20);
}

/*.event-list {
  width: 320px;
  height: 112px;
}*/

.inline-display li {
  float: left;
  color: #ffffff;
  list-style: none;
}

.inline-display li:nth-child(2){
  margin: 0 30px;
}
/*.event-list article {
  background-color: rgba(255, 255, 255, 0.5);
  height: 120px;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}*/

.event-list article a{
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  height: 120px;
  width: 300px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
  color: #000;
  text-decoration: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.event-list article a:hover{
  background-color: rgba(255, 255, 255, 0.8);
}

.event-list a:hover {
  text-decoration: none;
  color: #000;
}

.event-list section > a {
  position: relative;
  top: 10px;
  left: 0;
  color: #ffffff;
  font-size: 0.83rem;
  text-decoration: none;
}

.event-list section > a i {
  font-size: 1.3rem;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 1rem;
}

.date-box {
  /*position: absolute;*/
  width: 68px;
  height: 98px;
  float: left;
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  background-color: rgb(51, 153, 204);
  margin-right: 10px;
}

.date-box span{
  display: block;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  border-top: 1px dotted #ffffff;
}

.event-description {
  margin: 0;
}

/*************************************** Success Stories *******************************************/

.success-stories {
  display: block;
  background-color: rgb(236, 236, 236);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.20);
}

.success-stories h2.medium-title {
  color: black;
}

.ss-main-section {
  position: relative;
}

.left-stories, .center-stories {
  display: block;
  width: 352px;
  float: left;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}


.right-stories {
  display: block;
  width: 230px;
  float: left;
  position: relative;
  overflow: hidden;
}

.large-story {
  line-height: 1.7;
  font-size: 1.0938rem;
  padding: 5px;
  background-color: #ffffff;
  font-family: sans-serif;
  color: rgb(134, 134, 134);
  /*margin-right: 5px;*/
  float: left;
  display: block;
  position: relative;
  z-index: 20;
  transition: transform 500ms;
  transform-origin: bottom center;
  /*overflow: hidden;*/
}

.center-stories .large-story {
  /*position: absolute;*/
  margin-top: 14px;
  /*top: 95px;*/
  /*overflow: hidden;*/
}

.right-stories .large-story {
  margin-right: 0;
  width: 230px;
  height: 213.33px;
}

/*.right-stories .small-story {
  width: 106px;
}*/

/*.small-group {
  width: 100%;
  !*margin-top: 14px;*!
  position: relative;
  top: 10px;
}*/

.small-story {
  margin-right: 14px;
  margin-top: 14px;
  float: left;
  display: block;
  z-index: 20;
  transition: transform 500ms;
  transform-origin: bottom center;
}

.center-stories .small-group {
  margin-top: 0;
  position: relative;
  top: 0;
  /*margin-bottom: 10px;*/
}

.center-stories .small-story {
  margin-top: 0;
}
.small-group a:last-child {
  margin-right: 0;
}

.large-story-back {
  /*margin-right: 5px;*/
  display: inline-block;
  background-color: #3AA6DB;
  color: #ffffff;
  height: 213px;
  position: absolute;
  z-index: 10;
  padding: 23px;
  /*overflow: hidden;*/
}

.center-stories .large-story-back {
  top: 109px;
  left: 0;
}

.ss-main-section ul {
  padding: 0;
}

.ss-main-section ul li {
  list-style: none;
}

.ss-main-section a img {
  float: left;
}

.ss-main-section {
  padding-top: 42px;
  padding-bottom: 20px;
}

.ss-main-section .small-story img {
  width: 100%;
  height: 100%;
}

.left-stories .large-story blockquote, .center-stories .large-story blockquote {
  padding: 5px;
  margin: 0 0 10px 105px;
}

.right-stories .large-story blockquote {
  margin: 5px 10px 15px 5px;
}

.large-story blockquote:before, .large-story blockquote:after {
  content: url("./../img/icons/quote-grey.png");
  margin-left: 5px;
}

.large-story-back blockquote {
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.0938rem;
  padding: 5px;
  font-family: sans-serif;
}

.switch:hover .large-story-back blockquote:before, .switch:hover .large-story-back blockquote:after {
  margin-left: 5px;
}

.story-footer {
  border-top: 1px solid #858585;
  background-color: #ffffff;
}

.name {
  position: absolute;
  padding-top: 7px;
  width: 66%;
  margin: 0;
}

.name > p:first-child {
  color: rgb(51, 165, 221);
  margin-top: 4px;
  margin-bottom: 3px;
  font-size: 0.79rem;
  font-weight: 600;
  width: 80%;
}

.profession {
  margin-top: 1px;
  line-height: 1.5;
  font-size: 0.79rem;
  font-weight: 600;
  width: 70%;
}

.large-story .story-footer img {
  float: right;
  width: 32.5%;
  margin: 10px;
}

.switch:hover .large-story {
  /*display: none;*/
  transform: translateY(-100%);
}

.small-story:hover img {
  content: url("./../img/success-stories/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg");
  display: block;
  transform: translateY(-100%);
}

/*************************************** Footer ************************************/

footer {
  display: block;
  background-color: hsla(0, 0%, 15%, 1);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.20);
}

.footer-links {
  float: left;
  margin: 30px;
}

.footer-section h4 {
  color: RGB(78, 167, 211);
}

.footer-links h5 {
  color: white;
}

.footer-links ul {
  padding: 0;
}

.footer-links li{
  list-style: none;
}

.footer-links li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-section {
  background-color: rgba(133, 133, 133, 0.5);
  padding: 10px;
}

.footer-section a{
  text-decoration: none;
}

.footer-section p.event-font{
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
}

footer aside {
  display: inline-block;
  width: 260px;
}